[submodule "components/nimble"]
	path = components/nimble
	url = https://github.com/h2zero/esp-nimble-cpp
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/TFT_eSPI"]
	path = components/TFT_eSPI
	url = https://github.com/redstonee/TFT_eSPI
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/axp173/AXP173-Arduino"]
	path = components/axp173/AXP173-Arduino
	url = https://github.com/redstonee/AXP173-Arduino
